<html>
    <head>
        <title> Music Player </title>
    </head>
    <body>
        <h1>Music Player</h1> 
        <audio controls> <source src={{audio}} type="audio/mpeg">Not Supported</audio>
        <audio controls> <source src="..\Music\Classicals.de-Chopin-Grande-Valse-Brillante,-Opus-18.mp3" type="audio/mpeg">Not Supported</audio>
        <audio controls> <source src="..\Music\Classicals.de-Scott-Joplin-The-Entertainer-Arranged-for-Strings-Version-I.mp3" type="audio/mpeg">Not Supported</audio>
        
    </body>
</html>